.vertebra-point {
	fill: none; 
	stroke-width: 1px;
	opacity: .7;
	width: 90px; 
	height: 90px;
	font-size: 24px;
}


.vertebra-label {
	font-size: 8;
	fill: rgba(255, 255, 230, 1);
}


.template {
	stroke: black;
}

.center {
	stroke: red;
}

.svg-label-center {
	fill: red;
	stroke:none;
}

.left {
	stroke: yellow;
}

.svg-label-left {
	fill: yellow;
	stroke:none;
}

.right {
	stroke: blue;
}

.svg-label-right {
	fill: blue;
	stroke:none;
}

.other {
	stroke: white;
}

.svg-label-other {
	fill: white;
	stroke:none;
}


.toolbox {
	opacity: 1;
}

.label-micro {
	font-size: 6px;
	color: white;
}

.marker {
	position: absolute; /* Must be absolute or relative */
	left: 0px;
	top: 0px;
	z-index: 11;
}

#lines {
	position: absolute;
	left: -100px;
	top: 0px;
	z-index: 1;
}

button {
	/* position: relative; */
	margin-top: 20px;
	line-height: 60px;
	font-weight: bold;
	padding: 0 40px;
	background: salmon;
	border: none;
}
button:hover {
  background: lightsalmon;
}

.button {
	/* position: relative; */
	margin-top: 20px;
	line-height: 60px;
	font-weight: bold;
	padding: 0 40px;
	background: salmon;
	border: none;
}
.button:hover {
  background: lightsalmon;
}

.end_buttons {
  position: absolute;
  z-index: 10;
  top: 300px;
  left: 100px;
}

#measure_button { 
	position: absolute;
}

#download_button {
	position: relative;
	top: 150px;
}

#fileSelect {
  font-size: 2rem;
  text-align: center;
  position: fixed;
  /* z-index: 1; */
  left: 40%;
  top: 15%;	
}
